<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="biz.dfch.Commons.Diagnostics.TraceSource.Default" switchName="SourceSwitchAll">
        <listeners>
          <clear/>
          <!--<add name="Log4NetTraceListener" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitchAll" value="All"/>
    </switches>
    <sharedListeners>
      <add name="Log4NetTraceListener"
        type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9"
        initializeData="log4net.config" >
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="Log4NetTraceListener"
          type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9"
          initializeData="log4net.config" />
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
