<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="TraceSourceWithOtherListener" switchName="SourceSwitchError" >
        <listeners>
          <clear />
          <add name="TraceListenerMock" />
        </listeners>
      </source>
      <source name="TraceSourceWithDefaultListenerAndOtherListener" switchName="SourceSwitchError" >
        <listeners>
          <add name="TraceListenerMock" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitchError" value="Error" />
    </switches>
    <sharedListeners>
      <add name="TraceListenerMock"
      type="biz.dfch.CS.Commons.Tests.Diagnostics.TraceListenerMock, biz.dfch.CS.Commons.Tests, Version=1.0.0, Culture=neutral, PublicKeyToken=ddc350d26de1d0d9"
      initializeData="arbitraryInitializeData" />
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="DebugAndTraceListener"
          type="biz.dfch.CS.Commons.Tests.Diagnostics.DebugAndTraceListenerMock, biz.dfch.CS.Commons.Tests, Version=1.0.0, PublicKeyToken=ddc350d26de1d0d9"
          initializeData="arbitraryInitializeData" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
