<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="TraceSourceWithOtherListener" switchName="SourceSwitchError" >
        <listeners>
          <clear />
          <add name="TraceListenerMock" />
        </listeners>
      </source>
      <source name="TraceSourceWithDefaultListenerAndOtherListener" switchName="SourceSwitchError" >
        <listeners>
          <add name="TraceListenerMock" />
        </listeners>
      </source>
      <source name="TraceSourceWithLog4NetListener" switchName="SourceSwitchError" >
        <listeners>
          <add name="Log4NetTraceListener" />
        </listeners>
      </source>
      <source name="TraceSourceWithLog4NetListenerWithFilter" switchName="SourceSwitchError" >
        <listeners>
          <add name="Log4NetTraceListenerWithFilter" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitchError" value="Error" />
    </switches>
    <sharedListeners>
      <add name="TraceListenerMock"
        type="biz.dfch.CS.Commons.Tests.Diagnostics.TraceListenerMock, biz.dfch.CS.Commons.Tests, PublicKeyToken=ddc350d26de1d0d9"
        initializeData="arbitraryInitializeData" />
      <add name="Log4NetTraceListener"
        type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9"
        initializeData="log4net.config" />
      <add name="Log4NetTraceListenerWithFilter"
        type="biz.dfch.CS.Commons.Diagnostics.Log4NetTraceListener, biz.dfch.CS.Commons, PublicKeyToken=ddc350d26de1d0d9"
        initializeData="log4net.config" >
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical" />
      </add>
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="DebugAndTraceListener"
          type="biz.dfch.CS.Commons.Tests.Diagnostics.DebugAndTraceListenerMock, biz.dfch.CS.Commons.Tests, PublicKeyToken=ddc350d26de1d0d9"
          initializeData="TRACE" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
